<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.treasure_ct.zxing">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >
    <activity android:name=".codescan.MipcaActivityCapture">
        <intent-filter>
            <action android:name="com.google.zxing.client.android.SCAN"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>
    </application>

</manifest>
